spring:
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      retries: 3
      properties:
        enable.idempotence: true
        max.in.flight.requests.per.connection: 1
        spring.json.add.type.headers: false
    consumer:
      group-id: ${spring.application.name}
      auto-offset-reset: earliest
      enable-auto-commit: false
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "io.github.lvoxx.*,com.xsocial.*"
        isolation.level: read_committed
    listener:
      ack-mode: MANUAL_IMMEDIATE
      concurrency: 3

sssm:
  kafka:
    retry:
      max-attempts: 3
      initial-interval: 200ms
      backoff-multiplier: 2.0
      max-interval: 10s
    dlt:
      enabled: true
      suffix: .DLT
